<ion-header>
  <ion-button size="large" expand='full' (click)='backButton()'>
    <ion-icon mode='ios' slot="icon-only" name="arrow-dropleft"></ion-icon>
  </ion-button>
  <ion-title>
    {{this.roomService.choosenRoom.address}}
  </ion-title>
</ion-header>

<ion-content>
  <div class="container">
    <img [src]="src" *ngIf="showButton">
    <img [src]="this.photoService.uploadedPhoto" *ngIf="this.photoService.uploadedPhoto">
      <input #file style="display: none"
      type="file" accept='image/*'
     (change)="preview(file.files)"/>
    <button *ngIf='showButton' (click)="file.click()" >
    Wahlen Sie das Bild aus
  </button>
  <button class="andern-button" *ngIf='hideButton' (click)="file.click()">
    Bild andern
  </button>
</div>
</ion-content>

<ion-footer>
  <div>
    <ion-button size='large' expand="full" [disabled]="!hideButton" color="secondary" (click)="save()">
      Foto spaichern
    </ion-button>
  </div>
</ion-footer>