<!-- <div class="col-md-6">
  <h2> User Details</h2>
  <button class="btn btn-danger" (click)="addUser()"> Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>id</th>
      <th>description</th>
      <th>content</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let photo of photos">
      <td class="hidden">{{photo.id}}</td>
      <td>{{photo.id}}</td>
      <td>{{photo.description}}</td>
      <td>{{photo.content}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(photo)"> Delete</button>
        <button class="btn btn-danger" (click)="editUser(photo)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div> -->

<ion-content>
  content
</ion-content>