<ion-header>
    <div>
    </div>
</ion-header>

<ion-content>
    <div>
        <ion-spinner *ngIf='hideInputs' color='primary' name="crescent"></ion-spinner>
        <ion-avatar *ngIf='this.userService.user.photo' >
            <img [src]='this.userService.user.photo'>
        </ion-avatar>
        <h6>
            Fotodokumentation
        </h6>
        <hr (click)='viewAllPhotos()'>
    </div>
</ion-content>

<ion-footer>
    <div>
        <ion-button [disabled]='hideInputs' expand="full" size="large" color='secondary' (click)='photoButton()'>
            <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
    </div>
    <div>
        <ion-button [disabled]='hideInputs' size="large" expand="full" (click)='exitButton()'>
            <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
    </div>
</ion-footer>